body {
    font-family: Verdana,  Tahoma, sans-serif;
   background: linear-gradient(169deg,#e3e3e3,#aa0f65);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: linear-gradient(169deg,#e3e3e3,#aa0f65);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.1);
    width: 400px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 15px;
}

input {
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #1854b5;
    color: white;
    border:none ;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #1854b5;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    text-align: center;
    color: white;
}